body{
  background-color: #478a0b
}

h1 {
  position: relative;
  color: white;
  padding-top: 200;
  font-family: 'Bitter'
}
img{
  position: relative;
  padding-top: 30;
}

h2{
  position: relative;
  color: black;
  padding-top: 10;
  font-family: 'Oswald';
  text-align: center;
  font-size: 30px;

}

.attribute{
  position: relative;
  color: white;
  padding-top:100

}

a:link {
  text-decoration: none;
  color: white;
}

a:visited{
  text-decoration: none;
  color: white;
}

a:hover{
  color: white;
  text-decoration: none;
}

a:active{
  color: white;
  text-decoration: none;
}
}
